
	<center>
		<h1 style="font-family: 'Oswald', sans-serif; font-weight: bold; font-size: 64px;">
			{{model.city}}
		</h1>
		<br>
		<div style="width:500px;height:200px;border:3px solid black; border-radius: 3px; ">
			{{#view 'map' 
				latitudeBinding="model.latitude" 
				longitudeBinding="model.longitude"}}
			{{/view}}
		</div>
		<h6>
			Updated {{lastUpdated}}
		</h6> 
	</center>
 

