
	<center>
		<h1 style="font-family: 'Driod Serif', serif; font-weight: 900; font-size: 76px;">
			{{model.city}}
		</h1>
		<h3 style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 18px;">
			Until {{nextTripDate}} when I go {{nextCity}}
		</h3>	
		<br>
		<div style="width:500px;height:200px;border:2px solid black; border-radius: 2px; ">
			{{#view 'map' 
				latitudeBinding="model.latitude"  
				longitudeBinding="model.longitude"}}
			{{/view}}
		</div> 
		<h6>
			Updated {{lastUpdated}}
		</h6> 
	</center>
 

